<div class="modal left fade" id="sideModal" tabindex="-1" role="dialog" aria-labelledby="sideModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="list-group list-group-flush">
                    <?php
                    if (login_check($mysqli) == true) {
                        echo '<h4 class="py-3">Benvenuto, '. htmlentities($_SESSION['username']) . '</h4>';
                        echo '<a href="#" class="btn btn-light btn-lg btn-block m-1">Notifiche</a>';
                        echo '<a href="#" class="btn btn-light btn-lg btn-block m-1">Gestisci Account</a>';
                        echo '<a href="#" class="btn btn-light btn-lg btn-block m-1">I miei Ordini</a>';
                    }else {
                        echo '<h4 class="pb-3">Per accedere a queste pagine, effettua il <a href="login.php">login</a>.</h4>';
                        echo '<a href="#" class="btn btn-light btn-lg btn-block m-1 disabled">Notifiche</a>';
                        echo '<a href="#" class="btn btn-light btn-lg btn-block m-1 disabled">Gestisci Account</a>';
                        echo '<a href="#" class="btn btn-light btn-lg btn-block m-1 disabled">I miei Ordini</a>';
                    }
                    ?>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
