header {
    margin-bottom: 30px;
}

.container{
    padding: 30px;
    background-color: #C8C8C8;
}

.button-wrap{
    margin: 10px 0px; 
}
div{
    font-size: 19px;
}

@media only screen and (min-width: 360px) {
    #logo{
        width: 50px;
        height: 50px;
    }
}