.select-l{
    float: left;
}

.select-r {
    float: right;
}

td.quantitàArticolo {
    width: 15%;
}

td.nomeArticolo {
    width: 60%;
}

td.prezzoArticolo {
    width: 25%;
}

#totale-tabella {
    font-weight: bold;
    font-size: 150%;
    display: block;
    width: 100%;
    text-align: right;
}

legend {
    font-weight: bold;
}

.jumbotron {
    padding: 40px 32px;
}

#totale {
    font-weight: bold;
    font-size: 150%;
    display: block;
    width: 100%;
    text-align: center;
}

#annulla {
    margin: 20px 20%;
    width: 60%;
}

#pagamento {
    margin: 20px 15%;
    width: 70%;
}

@media screen and (min-width: 576px) {
    #riassunto {
        display: inline-block;
        width: 45%;
        float: left;
    }

    #forms {
        display: inline-block;
        width: 45%;
        margin-left: 10%;
    }

    .jumbotron {
        padding: 20px;
        margin-top: 79px;
    }

    #footer {
        display: block;
        width: 100%;
    }

    #totale {
        display: block;
        width: 100%;
        margin: 10px 0;
        text-align: right;
    }

    #annulla {
        margin: 25px 0;
        width: 15%;
        display: inline-block;
        float: right;
    }

    #pagamento {
        font-size: 100%;
        margin: 22.5px 0 0 5%;
        width: 15%;
        display: inline-block;
        float: right;
    }

    table {
      display: block;
      height: 85vh;
      overflow-y: auto;
      margin-top: 30px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    #riassunto {
        width: 55%;
    }

    #forms {
        width: 40%;
        margin-left: 5%;
    }
}
