body,html {
    height: 100%;
    margin: 0;
}
body {
    background-image: url("../res/wallpaper.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
header{
    width: 100%;
}
/* GLOBAL FOOTER RUELS */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer div{
    font-size: 10px;
}
/* GLOBAL FOOTER RUELS */
.sfoglia{
    margin-top: 15px;
}
#text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.account{
    width: 70px;
}
h1{
    font-size: 30px;
}
p{
    font-size: 15px;
}
@media only screen and (min-width: 480px){
    h1{
        font-size: 75px;
    }
    p{
        font-size: 50px;
    }
}
