header{
    margin-bottom: 20px;
}
.res{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px 0px;
    display: inline-block;
    width: 100%;
    transition: transform .3s;
}
.res:hover{
    transform: scale(1.02);
}
.account{
    display: none;
    width: 70px;
}
.res img{
    width: 100%;
    height: 140px;
    background-size: cover;
}
#src{
    margin-bottom: 20px;
}

#main{
    margin-bottom: 10%;
}


.res-name{
    padding: 10px;
    text-align: center;
    font-size: 15px;
}
#search-menu{
    margin-bottom: 10px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 360px) {
    .res img{
        width: 100%;
        height: 250px;
    }
    #logo{
        width: 50px;
        height: 50px;
    }
    .res-name{
        padding: 20px;
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
    .account{
        width: 100px;
    }
    .res {
        width: 45%;
        margin: 20px 2.5%;
    }
    .account{
        display: initial;
    }
    .slide{
        display: none;
    }
}
