.login{
    margin-right: 20px;
}

th, td {
    border-bottom: 1px solid black;
}

td {
    font-size: 120%;
}

th {
    font-size: 80%;
}

tr:hover {
    background-color: #bbbbbb;
}

table {
    width: 70%;
    margin: 0 15% 20px 15%;
}

p{
    width: 100%;
    text-align: center;
    font-size: 120%;
}

h1 {
    display: inline-block;
    width: 50%;
    text-align: left;
    font-size: 150%;
}

h2 {
    display: inline-block;
    width: 50%;
    text-align: right;
    float: right;
    font-size: 120%;
}

label {
    width: 70%;
    display: block;
    margin: 20px 15%;
}

#no-not {
    font-size: 150%; width: 100%; text-align: center; margin-top: 20px;
}

.conferma {
    display: block;
    width: 15%;
    margin: 5% 0 0 85%;
}

.delete {
    display: block;
    width: 25%;
    margin: 5% 37.5% 0 37.5%;
}

@media screen and (max-width: 1199px) {
    .conferma {
        width: 75%;
        margin: 3% 12.5% 0 12.5%;
    }

    .delete{
        width: 70%;
        margin: 3% 15% 0 15%;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 110%;
    }

    h2 {
        font-size: 110%;
    }
}
