h1 {
    display: block;
    width: 100%;
    font-size: 120%;
    text-align: center;
    margin-bottom: 10px;
}

a.detail-trigger {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 100%;
    margin-bottom: 10px;
}

ul.list1 {
    border: 2px solid #30343A;
    margin: 20px 6%;
    list-style-position: outside;
    padding-left: 25px;
}

li {
    margin: 6px 0;
    font-size: 100%;
}

.detail-trigger:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.ordine {
    display: block;
    padding: 10px;
}

@media screen and (max-width: 992px) {
    li {
        font-size: 90%;
    }
}
