header{
    margin-bottom: 20px;
}
h1{
    padding: 5px 0px;
}
.food{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px 0px;
    display: inline-block;
    width: 100%;
    transition: transform .3s; 
    padding: 20px;
}
#food-container{
    padding: 0px;
}
#food-info *{
    display: inline-block;
}
.price{
    width: 20px;
    text-align: right;
    margin-right: 2px;
}
.x{
    width: 20px;
    text-align: left;  
}
#res-name{
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
}
#carousel-image{
    height: 150px; 
}
#food-info button{
    height: 40px;
    width: 40px;
}
h1{
    padding: 5px;
    font-size: 15px;
}
.res-p, .food-p{
    font-size: 11px;
}
ul{
    padding-left: 20px;
    margin: 10px 0px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.carousel-inner{
    border-radius: 10px 10px 0px 0px;
}
.dropdown-toggle{
    font-size: 11px;
}
/* GLOBAL FOOTER RUELS */
footer{
    margin-top: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer div{
    font-size: 10px;
}
/* GLOBAL FOOTER RUELS */
@media only screen and (min-width: 360px) {
    #logo{
        width: 50px;
        height: 50px;
    }
    h1{
        font-size: 26px;
        padding: 5px 0px;
    }
    #info{
        float: right;
    }
    .res-p, .food-p{
        font-size: 16px;
    }
    #carousel-image{
        height: 300px; 
    }
    .dropdown-toggle{
        font-size: 15px;
    }
}

@media only screen and (min-width: 576px) {
    #carousel-image{
       height: 350px; 
    }
}
@media only screen and (min-width: 992px) {
    #res-name{
        float: left;
        width: 40%;
        display: inline-block;
        height: 350px;
    }
    #demo{
        float: right;
        width: 59%;
        display: inline-block;
    }
    .food {
        width: 45%;
        margin: 20px 2.5%;
    }
    .carousel-inner{
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #res-name{
        border-radius: 10px 10px 10px 10px;
    }
}